@model SpectrumMeetEF.Message

<div>
    @using (Html.BeginForm("PostReply", "Messages", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-info" style="width:35%">
                <alert class="text-bg-info">
                    @TempData["ErrorMessage"]
                </alert>
            </div>
        }
        @Html.HiddenFor(model => model.MessageID)
        <div class="form-group">
            @Html.Label("Reply")
            @Html.TextArea("messageContent", new { placeholder = "Enter Reply", @class = "form-control form-control-lg", rows = 3 })
        </div>
        <input type="submit" value="New Reply" class="btn btn-primary">
    }
</div>
