@model SpectrumMeetEF.Message
@Scripts.Render("~/bundles/jquery")
@{
    ViewBag.Title = "Details";
}
<h2>
    <b>@Html.DisplayFor(model => model.Title)</b>
</h2>

<div>
    <h4>Posted In: @Html.DisplayFor(model => model.Group.Name)</h4>
    <div class="container">
        <h4><b>@Model.User.FirstName @Model.User.LastName</b> on @Model.PostedDate.ToString()</h4>
        <p>@Model.Content</p>
    </div>
    @Html.Partial("_ReplyBox", Model)
    @{

        var children = Model.GetAllChildren();
        foreach (var message in children)
        {
            if (message.ParentMessageID == Model.MessageID)
            {
                <div>
                    @Html.Partial("_Reply", message)
                </div>
            }
        }
    }
</div>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MessageID}) |
    <button class="btn btn-primary" onclick="history.back()">Go back</button>
</p>