@model SpectrumMeetEF.Message

@{
    ViewBag.Title = "Details";
}

<h2>
    @Html.DisplayFor(model => model.Title)
</h2>

<div>
    <h4>Posted In: @Html.DisplayFor(model => model.Group.Name)</h4>
    @{

        var children = Model.GetAllChildren().OrderBy(m => m.PostedDate);
        foreach (var message in children)
        {
            if (message.ParentMessageID == Model.MessageID || message.MessageID == Model.MessageID)
            {
                <div class="basemessage" id="@message.MessageID">
                    <p><b>@message.User.FirstName @message.User.LastName</b> on @message.PostedDate.ToShortDateString() at @message.PostedDate.ToShortTimeString()</p>
                    <hr />
                    <p> @message.Content</p>
                </div>
            }
            else
            {
                <div class="reply" id="@message.ParentMessageID" style="margin-left:30px;">
                    <p><b>@message.User.FirstName @message.User.LastName</b> on @message.PostedDate.ToShortDateString() at @message.PostedDate.ToShortTimeString()</p>
                    <hr />
                    <p> @message.Content</p>
                </div>
                <script>
                appendReply(@message.ParentMessageID);
                </script>
            }

        }
    }

    @using (Html.BeginForm("PostReply", "Messages", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-info" style="width:35%">
                <alert class="text-bg-info">
                    @TempData["ErrorMessage"]
                </alert>
            </div>
        }
        @Html.HiddenFor(model => model.MessageID)
        <div class="form-group">
            @Html.Label("Reply")
            @Html.TextArea("messageContent", new { placeholder = "Enter Reply", @class = "form-control form-control-lg", rows = 3 })
        </div>
        <input type="submit" value="New Reply" class="btn btn-primary">
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MessageID }) |
    @Html.ActionLink("Back to List", "Details", new { area = "GroupPage", controller = "Groups", id = Model.GroupID })
</p>

@section Scripts {
    <script>
        $(document).ready(function () {
            function appendReply(id) {
                $('.basemessage').each(function () {
                    if (id == $(this).attr('id')) {
                        $(this).appendChild($('.reply'))
                    }
             });
    </script>
}

