@model SpectrumMeetEF.Group
@{
    ViewBag.Title = "Details";
}
<h2>Group: @Html.DisplayFor(model => model.Name)</h2>

<h3>
    For: @Html.DisplayFor(model => model.Condition.Name)
</h3>


<hr />

<div>
    <h4>Create New Message</h4>
    @using (Html.BeginForm("PostMessage", "Groups", FormMethod.Post))

    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-info" style="width:35%">
                <alert class="text-bg-info">
                    @TempData["ErrorMessage"]
                </alert>
            </div>
        }
        @Html.HiddenFor(model => model.GroupID)

        <div class="form-group">
            @Html.Label("Subject")
            <p>@Html.TextBox("messageSubject", null, new { placeholder = "Enter Subject", @class = "form-control" }) </p>
            @Html.Label("Message")
            @Html.TextArea("messageContent", new { placeholder = "Enter Message", @class = "form-control form-control-lg", rows = 3 })
        </div>
        <input type="submit" value="New Message" class="btn btn-primary">
    }
</div>

<hr />

<div>
    <h4>Messages</h4>
    <table class="table table-light table-striped table-hover table-bordered w-auto overflow-auto">
        <thead>
            <tr class="table-primary">
                <th scope="col">User Name</th>
                <th scope="col">Post Date</th>
                <th scope="col">Message Title</th>
            </tr>
        </thead>
        @foreach (var message in Model.Messages)
        {
            <tr class="clickable-row" title="@message.Title" onclick="location.href='@Url.Action("Details", null, new {id = message.MessageID, area = "MessageBoard", controller="Messages"})'">
                <th scope="row" class="w-25">
                    @message.User.FirstName @message.User.LastName
                </th>
                <td class="overflow-auto w-25">
                    <b>@message.PostedDate.ToShortDateString()</b>
                </td>
                <td class="w-50">
                    <b>@message.Title</b>
                </td>
            </tr>
            <tr class="clickable-row" title="@message.Title" onclick="location.href='@Url.Action("Details", null, new {id = message.MessageID, area = "MessageBoard", controller="Messages"})'">
                <td class="w-auto" colspan="3">
                    @message.Content
                </td>
            </tr>
         }
        </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupID }) |
    @Html.ActionLink("Back to List", "Index")
</p>