@model SpectrumMeetEF.Account
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm("Login","Accounts", FormMethod.Post))
{
    //Got most of this code from a tutorial on csharp corner
    //It's a simple form validation summary that submits the entered values as an HTTPpost
    //That way it triggers the login action under [HTTPpost] in the accounts controller
    //Not much else to say here except it could be prettied up with some buttons instead
    //of the table blocks, but that's a secondary concern to functionality.
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (ViewBag.Message != null)
     {
        <p style="border: 1px solid red">
            @ViewBag.Message
        </p>
     }
    <table border="0">
        <tr>
            <td>@Html.DisplayNameFor(a=> a.Username)</td>
            <td>@Html.EditorFor(a=> a.Username)</td>
            <td>@Html.ValidationMessageFor(a=> a.Username) </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(a => a.Password)</td>
            <td>@Html.EditorFor(a => a.Password)</td>
            <td>@Html.ValidationMessageFor(a => a.Password) </td>
        </tr>
        <tr><td><input type="submit" value="Login"/></td></tr>
    </table>
}
