@model SpectrumMeetEF.Account
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm("Login","Accounts", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (ViewBag.Message != null)
     {
        <p style="border: 1px solid red">
            @ViewBag.Message
        </p>
     }
    <table border="0">
        <tr>
            <td>@Html.DisplayNameFor(a=> a.Username)</td>
            <td>@Html.EditorFor(a=> a.Username)</td>
            <td>@Html.ValidationMessageFor(a=> a.Username) </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(a => a.Password)</td>
            <td>@Html.EditorFor(a => a.Password)</td>
            <td>@Html.ValidationMessageFor(a => a.Password) </td>
        </tr>
        <tr><td><input type="submit" value="Login"/></td></tr>
    </table>
}
