@model SpectrumMeetEF.Account
@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm("Login","Accounts", FormMethod.Post))
{
    //Got most of this code from a tutorial on csharp corner
    //It's a simple form validation summary that submits the entered values as an HTTPpost
    //That way it triggers the login action under [HTTPpost] in the accounts controller
    //Not much else to say here except it could be prettied up with some buttons instead
    //of the table blocks, but that's a secondary concern to functionality.
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (ViewBag.Message != null)
     {
        <div class="alert alert-danger">
            @ViewBag.Message
        </div>
     }
    <table>
        <tr>
            <td class="form-label">@Html.DisplayNameFor(a=> a.Username)</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(a=> a.Username, new { placeholder="Enter Username", @class = "form-control"})</td>
            <td>@Html.ValidationMessageFor(a=> a.Username) </td>
        </tr>
        <tr>
            <td class="form-label">@Html.DisplayNameFor(a => a.Password)</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(a => a.Password, new { type="password",placeholder="Enter Password", @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(a => a.Password) </td>
        </tr>
    </table>
    <br />
    <input type="submit" value="Log In" class="btn btn-primary"/>

}
